@using  System.Globalization
@inject ILanguageContainerService languageContainer



<div class="@isMovile ">
    <a class="link-borderless" @onclick="onClickedLanguagePortuguese"><img class=" object-cover  transform border-2 rounded-full hover:scale-125 border-terciary h-9 w-9" src="Images/Flags/br-BR.webp" alt="Brazilian Flag" /> </a>
    <div class="h-10 border border-terciary"></div>
    <a class="link-borderless" @onclick="onClickedLanguageEnglish"> <img class=" object-cover  transform border-2 rounded-full hover:scale-125 border-terciary h-9 w-9" src="Images/Flags/en-US.webp" alt="EEUU Flag" /> </a>
</div>

@code
{
    [Parameter]

    public bool changeClass { get; set; }

    private string isMovile => changeClass ? "flex items-center justify-center space-x-2" : "items-center hidden space-x-2 md:flex";


    private void onClickedLanguageEnglish()
    {
        SetLanguage("en-US");
        
    }

    private void onClickedLanguagePortuguese()
    {
        SetLanguage("br-BR");
       
    }



    void SetLanguage(string cultureCode)
    {
        languageContainer.SetLanguage(System.Globalization.CultureInfo.GetCultureInfo(cultureCode));
    }
}