@inherits LayoutComponentBase


<div class="flex flex-col items-center bg-black">
    <div>
        <div>
            <video src="./images/Videos/ImmigrantConsultingVideo.mp4" class="object-contain" alt="Institutional Video" controls autoplay muted></video>
        </div>
    </div>
</div>
