@inherits LayoutComponentBase

<main class="max-h-screen overflow-y-scroll snap snap-y snap-mandatory">
    <NavBar whitVideo="true"></NavBar>
    
    @Body
    
    <Footer whitContact="true"></Footer>
    
</main>
    
    

